body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #fff0f5; 
    color: #ff69b4; 
    text-align: center;
    margin: 20px;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.container {
    margin-top: 100px;
    min-height: 50vh;
    width: 400px;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    text-align: center;

}
#result {
    font-size: 24px;
    margin-top: 50px;
}
